/* You can add global styles to this file, and also import other style files */
nav,footer{
    background-color: #1a237e !important;
}

 .waves-effect.waves-light {
     background-color: rgb(255, 151, 66);
   }

.imagenProducto{
    width: 100px;
}

.imagen_inicio{
    width: 870px;
}
